.photo{
   height: 100%;
   width: 100%;

   position: absolute;
   top: 0;
   left: 0;
}

#photo_container{
   color: red;

   position: fixed;
   top: 25%;
   left: 40%;

   border: 2px solid black;

   height: 50%;
   width: 20%;

   font-size: 70px;

   text-align: center;
}

#statement{
   position: fixed;
   top: 75%;
   left: 40%;

   font-size: 35px;

   display: none;
}
