#foto{
   color: red;

   position: fixed;
   top: 35%;
   left: 35%;

    border: 2px solid black;

    height: 30%;
    width: 30%;

    font-size: 100px;

    text-align: center;
}

#afirmacao{
   position: fixed;
   top: 65%;
   left: 35%;

    font-size: 50px;

    display: none;
}
